# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @dims

/stable/appmesh-*/ @aws/app-mesh-eks-admin

/stable/aws-load-balancer-controller/ @M00nF1sh

/stable/aws-calico/ @jayanthvn
/stable/aws-vpc-cni/ @jayanthvn
