# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*       @dims

/stable/appmesh-*/ @aws/app-mesh-eks-admin

/stable/aws-load-balancer-controller/ @aws/eks-networking

/stable/aws-efa-k8s-device-plugin/ @aws/eks-networking
/stable/aws-vpc-cni/ @aws/eks-networking
/stable/cni-metrics-helper/ @aws/eks-networking
