version: 2.1
jobs:
  build-test-push:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run:
          name: Install Toolchain
          command: make install-toolchain 
      - run:
          name: Lint and Validate Charts w/ helm v2 and v3
          command: |
            make verify
      - run:
          name: Package stable charts
          command: make package
      - run:
          name: Publish stable charts
          command: make publish
  e2e-helmv2:
    machine: true
    steps:
      - checkout
      - run:
          name: Install Toolchain
          command: make install-toolchain
      - run:
          name: Init Kubernetes Kind and Helm v2
          command: HELM_MODE=v2 test/lib/kind.sh
      - run:
          name: Install BATS
          command: test/lib/bats.sh
      - run:
          name: Run App Mesh tests
          command: test/run.sh

  e2e-helmv3:
    machine: true
    steps:
      - checkout
      - run:
          name: Install Toolchain
          command: make install-toolchain
      - run:
          name: Install Kubernetes Kind and Helm v3
          command: HELM_MODE=v3 test/lib/kind.sh
      - run:
          name: Install BATS
          command: test/lib/bats.sh
      - run:
          name: Run App Mesh tests
          command: test/run.sh

workflows:
  version: 2
  stable:
    jobs:
      - build-test-push:
          filters:
            branches:
              ignore:
                - gh-pages
            tags:
              ignore: /^test.*/
      -  e2e-helmv2:
          requires:
            - build-test-push
          filters:
            branches:
              ignore:
                - gh-pages
      -  e2e-helmv3:
           requires:
             - build-test-push
           filters:
             branches:
               ignore:
                 - gh-pages
