image:
  repository: 602401143452.dkr.ecr.us-west-2.amazonaws.com/eks/aws-efa-k8s-device-plugin
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v0.5.2"
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  runAsNonRoot: false
supportedInstanceLabels: # EFA supported instances: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/efa.html#efa-instance-types
  keys:
    - "node.kubernetes.io/instance-type"
  values:
    - m5dn.24xlarge
    - m5dn.metal
    - m5n.24xlarge
    - m5n.metal
    - m5zn.12xlarge
    - m5zn.metal
    - m6a.48xlarge
    - m6a.metal
    - m6i.32xlarge
    - m6i.metal
    - m6id.32xlarge
    - m6id.metal
    - m6idn.32xlarge
    - m6idn.metal
    - m6in.32xlarge
    - m6in.metal
    - m7a.48xlarge
    - m7a.metal-48xl
    - m7g.16xlarge
    - m7g.metal
    - m7gd.16xlarge
    - m7i.48xlarge
    - m7i.metal-48xl
    - c5n.9xlarge
    - c5n.18xlarge
    - c5n.metal
    - c6a.48xlarge
    - c6a.metal
    - c6gn.16xlarge
    - c6i.32xlarge
    - c6i.metal
    - c6id.32xlarge
    - c6id.metal
    - c6in.32xlarge
    - c6in.metal
    - c7a.48xlarge
    - c7a.metal-48xl
    - c7g.16xlarge
    - c7g.metal
    - c7gd.16xlarge
    - c7gn.16xlarge
    - c7i.48xlarge
    - c7i.metal-48xl
    - r5dn.24xlarge
    - r5dn.metal
    - r5n.24xlarge
    - r5n.metal
    - r6a.48xlarge
    - r6a.metal
    - r6i.32xlarge
    - r6i.metal
    - r6idn.32xlarge
    - r6idn.metal
    - r6in.32xlarge
    - r6in.metal
    - r6id.32xlarge
    - r6id.metal
    - r7a.48xlarge
    - r7a.metal-48xl
    - r7g.16xlarge
    - r7g.metal
    - r7gd.16xlarge
    - r7i.48xlarge
    - r7i.metal-48xl
    - r7iz.32xlarge
    - r7iz.metal-32xl
    - x2idn.32xlarge
    - x2idn.metal
    - x2iedn.32xlarge
    - x2iedn.metal
    - x2iezn.12xlarge
    - x2iezn.metal
    - i3en.12xlarge
    - i3en.24xlarge
    - i3en.metal
    - i4g.16xlarge
    - i4i.32xlarge
    - i4i.metal
    - im4gn.16xlarge
    - dl1.24xlarge
    - dl2q.24xlarge
    - g4dn.8xlarge
    - g4dn.12xlarge
    - g4dn.16xlarge
    - g4dn.metal
    - g5.8xlarge
    - g5.12xlarge
    - g5.16xlarge
    - g5.24xlarge
    - g5.48xlarge
    - inf1.24xlarge
    - p3dn.24xlarge
    - p4d.24xlarge
    - p4de.24xlarge
    - p5.48xlarge
    - trn1.32xlarge
    - trn1n.32xlarge
    - vt1.24xlarge
    - hpc6a.48xlarge
    - hpc6id.32xlarge
    - hpc7a.12xlarge
    - hpc7a.24xlarge
    - hpc7a.48xlarge
    - hpc7a.96xlarge
    - hpc7g.4xlarge
    - hpc7g.8xlarge
    - hpc7g.16xlarge
    - ml.m5dn.24xlarge
    - ml.m5dn.metal
    - ml.m5n.24xlarge
    - ml.m5n.metal
    - ml.m5zn.12xlarge
    - ml.m5zn.metal
    - ml.m6a.48xlarge
    - ml.m6a.metal
    - ml.m6i.32xlarge
    - ml.m6i.metal
    - ml.m6id.32xlarge
    - ml.m6id.metal
    - ml.m6idn.32xlarge
    - ml.m6idn.metal
    - ml.m6in.32xlarge
    - ml.m6in.metal
    - ml.m7a.48xlarge
    - ml.m7a.metal-48xl
    - ml.m7g.16xlarge
    - ml.m7g.metal
    - ml.m7gd.16xlarge
    - ml.m7i.48xlarge
    - ml.m7i.metal-48xl
    - ml.c5n.9xlarge
    - ml.c5n.18xlarge
    - ml.c5n.metal
    - ml.c6a.48xlarge
    - ml.c6a.metal
    - ml.c6gn.16xlarge
    - ml.c6i.32xlarge
    - ml.c6i.metal
    - ml.c6id.32xlarge
    - ml.c6id.metal
    - ml.c6in.32xlarge
    - ml.c6in.metal
    - ml.c7a.48xlarge
    - ml.c7a.metal-48xl
    - ml.c7g.16xlarge
    - ml.c7g.metal
    - ml.c7gd.16xlarge
    - ml.c7gn.16xlarge
    - ml.c7i.48xlarge
    - ml.c7i.metal-48xl
    - ml.r5dn.24xlarge
    - ml.r5dn.metal
    - ml.r5n.24xlarge
    - ml.r5n.metal
    - ml.r6a.48xlarge
    - ml.r6a.metal
    - ml.r6i.32xlarge
    - ml.r6i.metal
    - ml.r6idn.32xlarge
    - ml.r6idn.metal
    - ml.r6in.32xlarge
    - ml.r6in.metal
    - ml.r6id.32xlarge
    - ml.r6id.metal
    - ml.r7a.48xlarge
    - ml.r7a.metal-48xl
    - ml.r7g.16xlarge
    - ml.r7g.metal
    - ml.r7gd.16xlarge
    - ml.r7i.48xlarge
    - ml.r7i.metal-48xl
    - ml.r7iz.32xlarge
    - ml.r7iz.metal-32xl
    - ml.x2idn.32xlarge
    - ml.x2idn.metal
    - ml.x2iedn.32xlarge
    - ml.x2iedn.metal
    - ml.x2iezn.12xlarge
    - ml.x2iezn.metal
    - ml.i3en.12xlarge
    - ml.i3en.24xlarge
    - ml.i3en.metal
    - ml.i4g.16xlarge
    - ml.i4i.32xlarge
    - ml.i4i.metal
    - ml.im4gn.16xlarge
    - ml.dl1.24xlarge
    - ml.dl2q.24xlarge
    - ml.g4dn.8xlarge
    - ml.g4dn.12xlarge
    - ml.g4dn.16xlarge
    - ml.g4dn.metal
    - ml.g5.8xlarge
    - ml.g5.12xlarge
    - ml.g5.16xlarge
    - ml.g5.24xlarge
    - ml.g5.48xlarge
    - ml.inf1.24xlarge
    - ml.p3dn.24xlarge
    - ml.p4d.24xlarge
    - ml.p4de.24xlarge
    - ml.p5.48xlarge
    - ml.trn1.32xlarge
    - ml.trn1n.32xlarge
    - ml.vt1.24xlarge
    - ml.hpc6a.48xlarge
    - ml.hpc6id.32xlarge
    - ml.hpc7a.12xlarge
    - ml.hpc7a.24xlarge
    - ml.hpc7a.48xlarge
    - ml.hpc7a.96xlarge
    - ml.hpc7g.4xlarge
    - ml.hpc7g.8xlarge
    - ml.hpc7g.16xlarge
resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
   requests:
     cpu:     10m
     memory:  20Mi
nodeSelector: {}
#  efa: present
tolerations: []
# - key: aws.amazon.com/efa
#   operator: Exists
#   effect: NoSchedule
additionalPodAnnotations: {}
additionalPodLabels: {}
nameOverride: ""
fullnameOverride: ""
imagePullSecrets: []
