# Default values for appmesh-jaeger.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: jaegertracing/all-in-one
  tag: 1.14
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: 2000m
    memory: 2Gi
  requests:
    cpu: 100m
    memory: 256Mi

nodeSelector: {}

tolerations: []

affinity: {}

serviceAccount:
  # serviceAccount.create: Whether to create a service account or not
  create: true
  # serviceAccount.name: The name of the service account to create or use
  name: ""

rbac:
  # rbac.pspEnabled: `true` if PodSecurityPolicy resources should be created
  pspEnabled: false

memory:
  # memory.maxTraces: The amount of traces stored in memory
  maxTraces: 40000

persistentVolumeClaim:
  # persistentVolumeClaim.claimName: Specify an existing volume claim to be used for Badger data
  claimName: ""