# Default values for appmesh-controller.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
region: ""

image:
  repository: 602401143452.dkr.ecr.us-west-2.amazonaws.com/amazon/app-mesh-controller
  tag: v0.4.0
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

resources:
  limits:
    cpu: 2000m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}

serviceAccount:
  # serviceAccount.create: Whether to create a service account or not
  create: true
  # serviceAccount.name: The name of the service account to create or use
  name: ""

rbac:
  # rbac.create: `true` if rbac resources should be created
  create: true
  # rbac.pspEnabled: `true` if PodSecurityPolicy resources should be created
  pspEnabled: false

log:
  #log.level: info (default), debug
  level: "info"
